<div class="flex flex-col">
  <div class="font-semibold text-xl">Statistics</div>
  <div class="font-normal text-sm text-gray-500">Here is the statistics of the judgement.</div>
  <div class="h-full grid grid-cols-2 rounded-lg divide-y bg-white mt-3">
    <div class="p-4 text-lg text-black font-medium">Judgement</div>
    <div class="p-4 text-lg text-black font-medium">Duration</div>
    <div *ngIf="!recordData || recordData.length == 0" class="italic text-center text-gray-400 py-2">
      There's no judgement record!
    </div>
    <div *ngIf="!recordData || recordData.length == 0" class="italic text-center text-gray-400 py-2">
      There's no judgement record!
    </div>
    <div *ngIf="recordData && recordData.length > 0" id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive">
      </apx-chart>
    </div>
    <div *ngIf="recordData && recordData.length > 0" id="linechart">
      <apx-chart
        [series]="lineChartOptions.series"
        [chart]="lineChartOptions.chart"></apx-chart>
    </div>
  </div>
</div>
