<div class="flex flex-col">
  <div class="font-semibold text-xl">History</div>
  <div class="font-normal text-sm text-gray-500">Here is the past judgement history.</div>
  <div class="h-full rounded-lg divide-y bg-white mt-3">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Project</th>
          <th class="px-4 py-2">Image name</th>
          <th class="px-4 py-2">Judgement result</th>
          <th class="px-4 py-2">Judgement duration</th>
          <th class="px-4 py-2">Created time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of recordData">
          <td class="border px-4 py-2">{{ record.title }}</td>
          <td class="border px-4 py-2">{{ record.name }}</td>
          <td class="border px-4 py-2" [ngClass]="{'text-red-500': record.firstJudge != record.secondJudge}">{{ record.firstJudge }} / {{ record.secondJudge }}</td>
          <td class="border px-4 py-2">{{ record.firstDuration }} / {{ record.secondDuration }}</td>
          <td class="border px-4 py-2">{{ record.created_time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
